$size-bar: 3vh;
$num-bars: 3;
$anim-duration: 750ms;
$anim-delay: calc($anim-duration/$num-bars);

//   Keyframes

@keyframes loadscreen {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes bars {
    0% {
      transform: scaleY(0.5);
      opacity: 0.7;
    }
    
    100% {
      transform: scaleY(1.0);
      opacity: 1;
    }
  }

//   Keyframes


// Loader
.loader {
    background: rgba(255, 255, 255, 0.85);
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    animation: loadscreen 1s 4s forwards;
}

.load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    width: 20vh;
    height: 15vh;
  
    &__bar {
        width: 3vh;
        height: 100%;
        border-radius: 20px;
        animation: bars $anim-duration backwards infinite;
        animation-direction: alternate;
        @for $i from 1 through $num-bars {
            &-#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
  
        &--1 {
            background: $primary-color;
        }
    
        &--2 {
            background: $secondary-color;
        }
    
        &--3 {
            background: $tertiary-color;
        }
    }
}
// Fin Loader

.fa-purple {
    color: $primary-color;
}

.location-search {
    @include flexbox-center;
    background-color: $grey2-bgd;
    width: 100%;
    height: 50px;
    gap: 17px; 

    &__icon {
        color: $grey-font-bgd;
        width: 12px;
        height: 16px;
        flex-shrink: 0;
    }

    &__input {
        background-color: $grey2-bgd;
        border: none;
        width: 114px;
        font-size: 16px;
        font-weight: 500;
    }

}

.hero {
    @include flexbox-center;
    flex-direction: column;
    text-align: center;
    background-color: $grey3-bgd;


    &__title {
        // width: 275px;
        height: 68px;
        margin-top: 39px;
        flex-wrap: wrap;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 300;
        // width: 315px;
        height: 46px;
        // margin: 0px 26px 0px 34px;
    }

    &__btn {
        @include flexbox-center;
        @include btn-purplegrad;
        width: 218px;
        margin-top: 27px;
        margin-bottom: 57px;
    }
}

.process {
    padding: 48px 20px 68px 20px;
    background-color: $color-white;
    
    &__title {
        height: 31px;
    }
    
    &__steps {
        // width: 100%;
        margin-top: 26px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-left: 12.5px;

        @include desktop-only {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        }
    
    
    &__step {
        background-color: $grey3-bgd;
        border: 1px solid $primary-color;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        width: 100%;
        height: 72.4px;        
        box-sizing: border-box;
        position: relative;        
    }  
    
    &__number {
        background-color: $primary-color;
        color: $color-white;
        font-size: 14px;
        font-weight: 500;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        @include flexbox-center;
        border-radius: 50px;
        position: absolute;
        left: -12px;
    }
    
    &__icon {
        color: $grey4;
        // font-size: 20px;
        flex-shrink: 0; 
        position: absolute;
        left: 34.5px;
    }
    
    &__text {
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        position: absolute;
        left: 73.5px;
    }
    
}  

.icon-purple {
    color: $primary-color;
}


.restaurants {
    background-color: $grey3-bgd;
    padding-top: 54px;
    padding-bottom: 66px;

    &__title {
        margin-left: 20px;
        height: 48px;
    }

    &__cards {
        padding: 0px 18px 0px 17px;
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding-left: 17px;
        padding-right: 18px;

        @include tablet-and-desktop {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 50px;
        }

    }

}

.card {
    background-color: $color-white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    height: 251px;
    gap: 16px;
    position: relative;

    &__badge {
        background-color: $tertiary-color;
        color: $green-font;
        font-size: 14px;
        font-weight: 500;
        width: 80px;
        height: 29px;
        @include flexbox-center;
        border-radius: 2px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        position: absolute;
        top: 13px;
        right: 12px;
    }

    &__image {
        display: flex;

        & img {
            width: 100%;
            height: 174px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
            padding: 0px 3px;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        height: 77px;
        padding: 16px 25px 12px 13px;
        border-radius: 0 0 15px 15px;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        height: 20px;
        margin: 0 0 5px 0;
    }

    &__subtitle {
        font-size: 17px;
        font-weight: 300;
        height: 24px;
    }

    &__icon {
        width: 22px;
        flex-shrink: 0;
        position: absolute;
        right: 25px;
        top: 208px;
    }

}

.card-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}



