$size: 3vh;
$num-bars: 3;
$anim-duration: 600ms;
$anim-delay: calc($anim-duration/$num-bars);

//   Keyframes

@keyframes loader {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes bars {
    0% {
      transform: scaleY(0.5);
    }
    
    100% {
      transform: scaleY(1.0);
    }
  }

//   Keyframes


// Loader
.loader {
    background-color: $grey2-bgd;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    animation: loader 1s 2s forwards;
}

.load {
    width: $size*5;
    height: $size*8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
  
    &__bar {
        height: 100%;
        width: $size;
        animation: bars $anim-duration backwards infinite ease-in-out alternate;
        @for $i from 1 through $num-bars {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
  
        &--1 {
            background-color: $primary-color;
        }
    
        &--2 {
            background-color: $secondary-color;
        }
    
        &--3 {
            background-color: $tertiary-color;
        }
    }
}
// Fin Loader

.fa-purple {
    color: $primary-color;
}

.location-search {
    @include flexbox-center;
    background-color: $grey2-bgd;
    width: 100%;
    height: 50px;
    gap: 17px; 

    &__icon {
        color: $grey-font-bgd;
        width: 12px;
        height: 16px;
        flex-shrink: 0;
    }

    &__input {
        background-color: $grey2-bgd;
        border: none;
        width: 114px;
        font-size: 16px;
        font-weight: 500;
    }

}

.hero {
    @include flexbox-center;
    flex-direction: column;
    text-align: center;
    background-color: $grey3-bgd;


    &__title {
        height: 68px;
        margin-top: 39px;
        flex-wrap: wrap;

        @include desktop-only {
            font-size: 40px;
            height: 47px;
            margin-top: 30px;
        }
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 300;
        height: 46px;

        @include desktop-only {
            margin-top: 18px;
        }

    }

    &__btn {
        @include flexbox-center;
        @include btn-purplegrad;
        width: 218px;
        margin-top: 27px;
        margin-bottom: 57px;

        @include desktop-only {
            margin-top: 18px;
            margin-bottom: 30px;
        }

    }
}

.process {
    padding: 48px 20px 68px 20px;
    background-color: $color-white;

    @include desktop-only {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    
    &__title {
        height: 31px;
    }
    
    &__steps {
        margin-top: 26px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-left: 12.5px;

        @include desktop-only {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

    }
    
    
    &__step {
        background-color: $grey3-bgd;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        width: 100%;
        height: 72.4px;        
        box-sizing: border-box;
        position: relative;
        }
    
    &__number {
        background-color: $primary-color;
        color: $color-white;
        font-size: 14px;
        font-weight: 500;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        @include flexbox-center;
        border-radius: 50px;
        position: absolute;
        left: -12px;
    }
    
    &__icon {
        color: $grey4;
        font-size: 20px;
        flex-shrink: 0; 
        position: absolute;
        left: 34.5px;
    }
    
    &__text {
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        position: absolute;
        left: 73.5px;
    }
    
}  

.icon-purple {
    color: $primary-color;
}


.restaurants {
    background-color: $grey3-bgd;
    padding-top: 54px;
    padding-bottom: 66px;
    
    @include desktop-only {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        margin-left: 20px;
        height: 48px;

        @include desktop-only {
            margin-left: 0px;
        }
    }

    &__cards {
        padding: 0px 18px 0px 17px;
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding-left: 17px;
        padding-right: 17px;

        @include tablet-and-desktop {
            padding: 0px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 50px;
        }

        @include desktop-only {
            column-gap: 9%;
        }

    }

}

.card {
    background-color: $color-white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    height: 251px;
    gap: 16px;
    position: relative;

    &__badge {
        background-color: $tertiary-color;
        color: $green-font;
        font-size: 14px;
        font-weight: 500;
        width: 80px;
        height: 29px;
        @include flexbox-center;
        border-radius: 2px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        position: absolute;
        top: 13px;
        right: 12px;
    }

    &__image {
        display: flex;

        & img {
            width: 100%;
            height: 174px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
            padding: 0px 3px;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        height: 77px;
        padding: 16px 25px 12px 13px;
        border-radius: 0 0 15px 15px;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        height: 20px;
        margin: 0 0 5px 0;
    }

    &__subtitle {
        font-size: 17px;
        font-weight: 300;
        height: 24px;
    }

    &__icon {
        width: 22px;
        flex-shrink: 0;
        position: absolute;
        right: 25px;
        top: 208px;
    }

}

.card-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}



